<!DOCTYPE html>
<html>
  <head>
    <title>WWSite</title>
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="stylesheets/iconfont/material-icons.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <script type="text/javascript" src="javascripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="javascripts/materialize.min.js"></script>
    <script type="text/javascript" src="javascripts/index.js"></script>
     <div id="heading"></div>
     <div id="navbar-fixed" class="navbar-fixed">
      <nav style="background-color: #34050B">
        <a style="position: relative; z-index: 999; color: white" href="#" data-activates="slide-out" class="button-collapse hide-on-med-and-up"><i class="material-icons">menu</i></a>
        <div class="nav-wrapper">
          <ul id="nav-mobile" class="hide-on-small-only right">
            <li>
              <a class="white-text" href="/">Home</a>
            </li>  
            <li class="active">
              <a class="white-text" href="/">About</a>
            </li>
            <li>
              <a class="white-text" href="/">Attorneys</a>
            </li>
            <li>
              <a class="white-text" href="/">Contact</a>
            </li>
          </ul>
        </div>
        <ul id="slide-out" class="side-nav">
            <li>
              <a class="white-text" href="/">Home</a>
            </li>
            <li class="active">
              <a class="white-text" href="/">About</a>
            </li>
            <li>
              <a class="white-text" href="/">Attorneys</a>
            </li>
            <li>
              <a class="white-text" href="/">Contact</a>
            </li>
        </ul>
      </nav>
    </div>
    <div id="footer" class="valign-wrapper row">
      <p id="footertext" class="valign">Footer Text goes here.</p>
    </div>
  </body>
</html>
