<!DOCTYPE html>
<html>
  <head>
    <title>WWSite</title>
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="stylesheets/iconfont/material-icons.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <script type="text/javascript" src="javascripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="javascripts/materialize.min.js"></script>
    <script type="text/javascript" src="javascripts/index.js"></script>
     <div id="heading"></div>
     <div id="navbar-fixed" class="navbar-fixed">
      <nav style="background-color: #34050B">
        <a style="position: relative; z-index: 999; color: white" href="#" data-activates="slide-out" class="button-collapse hide-on-med-and-up"><i class="material-icons">menu</i></a>
        <div class="nav-wrapper">
          <ul id="nav-mobile" class="hide-on-small-only right">
            <li>
              <a class="white-text" href="/">Home</a>
            </li>  
            <li>
              <a class="white-text" href="/about">About</a>
            </li>
            <li>
              <a class="white-text" href="/attorneys">Attorneys</a>
            </li>
            <li class="active">
              <a class="white-text" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
        <ul id="slide-out" class="side-nav">
            <li>
              <a class="white-text" href="/">Home</a>
            </li>
            <li>
              <a class="white-text" href="/about">About</a>
            </li>
            <li>
              <a class="white-text" href="/attorneys">Attorneys</a>
            </li>
            <li class="active">
              <a class="white-text" href="/contact">Contact</a>
            </li>
        </ul>
      </nav>
    </div>
    <!-- page content begins -->
    <div class="center-align">
      <img src="/images/grey.png" alt="grey box" width="300px" height="300px">
    </div>
    <div id="map">
    </div>
      <script>
      // Google API map begins
        function initMap() {
          var office = {lat: 42.9690981, lng: -85.6695304};
          var mapDiv = document.getElementById('map');
          var map = new google.maps.Map(mapDiv, {
            zoom: 15,
            center: office
          });
          //marker text
          var contentString = '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<p id="firstHeading" class="firstHeading" style="font-size: 1.5em"><b>Wardrop & Wardrop, P.C.</b>'+
          '<div id="bodyContent">'+
          '<p>Wardrop & Wardrop, P.C. is located within the office '+
          'building at <b>300 Ottawa Ave NW</b>, directly across '+
          'from the Calder Plaza, in the heart of downtown Grand '+
          'Rapids.</p>'+
          '</div>'+
          '</div>';
          var infowindow = new google.maps.InfoWindow({
            content: contentString,
            maxWidth: 320
          });
          var marker = new google.maps.Marker({
            map: map,
            draggable: true,
            animation: google.maps.Animation.DROP,
            position: office,
            title: 'WWOffice'
          });
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer>
      </script>
    <div id="footer" class="valign-wrapper row">
      <p id="footertext" class="valign">Footer TEXT goes here.</p>
    </div>
  </body>
</html>
